# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env

# Data (Don't commit large files)
# Data (Don't commit large files)
data/processed/
data/raw/
!data/ingest/
!data/preprocess/
results/
models/
adapters/
indices/

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log
mlruns/

# Project Specific
llama-3-8b-financial-risk/
sec-edgar-filings/
wandb/
*.zip
