# Data Ingestion
requests==2.31.0
pandas==2.2.0
beautifulsoup4==4.12.3
lxml==5.1.0
sec-edgar-downloader==5.0.0
# pyarrow removed due to build issues
tqdm==4.66.1
pyrate-limiter==3.7.1

# Machine Learning & Eval
torch
transformers
accelerate
peft
bitsandbytes
evaluate
rouge_score
scikit-learn

# Utils
python-dotenv
huggingface_hub

# Infinity/Serving
fastapi
uvicorn
